import os
import requests
import json

API_KEY = os.environ.get("API_KEY")
url = "https://api.sambanova.ai/v1/chat/completions"

payload = {
    "model": "{{offering.name}}",
    "messages": [
        {"role": "user", "content": "Say this is a test"}
    ]
}

headers = {
    "Authorization": f"Bearer {API_KEY}",
    "Content-Type": "application/json"
}

response = requests.post(url, headers=headers, json=payload)

print(response.status_code)
print(response.text)
