from openai import OpenAI
import os

client = OpenAI(
    api_key=os.environ.get("UNITYSVC_API_KEY"),
    base_url=os.environ.get("SERVICE_BASE_URL")
)

completion = client.chat.completions.create(
    model="{{offering.name}}",
    messages=[
        {"role": "user", "content": "Say this is a test"}
    ]
)

print(completion.choices[0].message.content)
