curl "{{ service_base_url }}/chat/completions" \
  -H "Authorization: Bearer $UNITYSVC_API_KEY" \
  -H "Content-Type: application/json" \
  -d @- <<EOF
{
  "model": "{{ routing_key.model }}}}",
  "messages": [
    {"role": "user", "content": "Say this is a test"}
  ]
}
EOF
